<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="algohub.project.repository.algorithm.AlgoCategoryRepository">

    <!-- 알고리즘 카테고리 조회 -->
    <select id="getAlgoCategory" resultType="algohub.project.domain.algorithm.AlgoCategory">
        SELECT * FROM algorithm_category;
    </select>
</mapper>